body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*----------------Navbar---------------*/
/* .Navbar{
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.Nav_items{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  list-style-type: none;
 
}
.Nav_items a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.Navbar button{
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 10px;

} */


/*Cofeee project React-Bootstrap styles*/
/*--------------Hero---------*/

.Hero{
  /* border: 3px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 650px; */
}
.hero-block{
  /* border: 2px solid black; */
  /* height: 650px; */
  width: 90%;
}
.hero-block img{
  /* height: 650px; */
  width: 100%;
  border-radius: 3px;
}


/*-------------About-------------*/

.about-block{
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content{
  /* border: 1px solid brown; */
  padding: 20px;
  text-align: center;
  width: 70%;
}

.about-content h4{
  padding: 10px;
}
.about-content p{
  padding: 10px;
}


/*------Products------------*/

#product{
  margin-top: 30px;
}
.product{
  /* border: 2px solid black; */
  height: auto;
  padding: 10px;

}
.product img{
  width: 100%;
}

.product h4{
  margin-top: 20px;
  font-size: 20px;
}


/*-------Offer-----------*/

.offer-block{
  /* border: 2px solid black; */
  padding: 100px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.offer-content{
  padding: 40px;
  text-align: left;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  width: 400px;
  height: auto;
}
.grid2{
  display: grid;
  align-items: stretch;
  gap: 10px;
}
.grid img{
  width: 100%;
}
/* ----Blogs-----*/
.blogs{
  padding: 50px;
  border: none;
}


/*-----Footer----*/

.Footer{
  background-color: #191d24;
  color: white;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-block1 ul{
  list-style: none;
  text-align: left;
}
.footer-block2{
  /* border: 2px solid blue; */
  padding: 50px 5px;
}

.footer-block2 input{
  padding: 10px 0px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 300px;
}
.footer-block2 button{
  border: none;
  padding: 10px 15px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 4px;
}

.footer-block2 p{
  margin-top: 20px;
}









/*----Responsive------*/

@media screen and (max-width: 800px){

  /*--about responsive--*/
  .about-block{
    padding: 50px 20px;
  }
  .about-content{
    width: 100%;
    padding: 20px;
  }
  .about-content h4{
    margin: 20px 0px 20px;
    font-size: 20px;
  }
  .about-content p{
    text-align: justify;
    font-size: 12px;
  }

  /*----products----*/
  .product img{
    height: 250px;
    width: 250px;
  }


  /*-----Offer------*/
  .offer-block{
    padding: 40px 20px;
  }
  .offer-content{
    padding: 10px;
  }
  .offer-content h3{
    font-weight: bold;
    font-size: 14px;
  }
  .offer-content p{
    font-size: 12px;
  }


  /*-------Footer------------*/

  .Footer{
    flex-direction: column;
    padding: 30px 20px;
  }
  .footer-block1 ul{
    display: none;
  }
  .footer-block2{
    padding: 30px 5px;
  }
  .footer-block2 input{
    width: 180px;
  }



  

}